* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 1400px;
  height: 200px;
  justify-content: space-between;
}

.block1 {
  border: solid 6px blue;
  width: 100px;
  height: 100%;
  background-color: green;
}
.block1:active {
  background-color: red;
}
.block2 {
  border: solid 6px rgb(0, 0, 0);
  width: 100px;
  height: 100%;
  background-color: rgba(79, 0, 170, 0.651);
}
.block2:enabled {
  background-color: red;
}

.block3 {
  border: solid 6px rgb(0, 163, 54);
  width: 100px;
  height: 100%;
  background-color: rgb(229, 255, 0);
}
.block3:checked {
  background-color: red;
}
